.chat_container {
  display: flex;
  flex-direction: row;
  height: 90vh;
  width: 90vw;
  background-color: #f3f3f3;
  border-radius: 10px;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.1);
}

.chat_left_container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex: 2;
  overflow-y: auto;
  background-color: #ffffff;
  border-right: 1px solid #ddd;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.chat_right_container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex: 4;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
