.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.box {
  width: 90%;
  max-width: 400px;
  padding: 2em;
  margin-bottom: 2em;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.box > p {
  font-size: 0.9em;
  color: gray;
}

.error {
  color: red;
  font-weight: bold;
  margin-bottom: 1em;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.5em;
}

input {
  padding: 0.5em;
  margin-left: 1em;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  margin-bottom: 1em;
  padding: 0.5em;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgb(81, 81, 81);
}

button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}
