.profile_container {
  max-width: 400px;
  margin: 1em 0em;
  padding: 2em;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.profile_container h1 {
  margin-bottom: 0.5em;
  color: #333;
}

.profile_container p {
  color: #666;
  line-height: 1.6;
  margin-bottom: 0.5em;
}

.profile_container button {
  padding: 0.5em 1em;
  background-color: gray;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.profile_container button:hover {
  background-color: darkgray;
}
