.message_item_container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: flex-end;
}

.received_message_container {
  align-items: flex-end;
}

.message_item {
  max-width: 60%;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
  color: #fff;
  background-color: gray;
  word-wrap: break-word;
}

.received_message {
  background-color: #f3f3f3;
  color: #000;
}

.timestamp {
  font-size: 0.7em;
  color: #777;
}
